* {
  box-sizing: border-box;
}

body {
  background-color: hsl(210, 46%, 95%);
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  width: 1440;
  line-height: 1.8em;
}

time {
  color: hsl(214, 17%, 51%);
}

.article-container {
  display: flex;
  background-color: white;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  box-shadow: 0px 0px 1px #888;
  font-weight: 500;
  max-width: 75%;
  min-width: 875px;
  flex: 0 0 1000px;
  margin: auto;
}

.column {
  padding: 10px;
}

.image-column {
  padding: 0;
  overflow: hidden;
  flex: 0 0 400px;
}

.image-column img {
  width: 125%;
  height: 100%;
}

.text-column {
  padding: 3em;
}

.text-column footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
}

.text-column h1 {
  font-size: 20px;
  line-height: 1.8em;
}

.author-info {
  display: flex;
}

.author-info div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.5em;
}

.author-info h3 {
  margin: 0;
}

.author-info img {
  border-radius: 100%;
  height: 3.5em;
  width: 3.5em;
  justify-content: flex-start;
  margin: 1em 0 1em 1em;
}

.share-icon {
  color: hsl(214, 17%, 51%);
  background-color: hsl(210, 46%, 95%);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 1em;
  padding: 5px;
}

#social-icons {
  color: hsl(210, 46%, 95%);
  background-color: hsl(217, 19%, 35%);
  padding: 10px;
  border-radius: 20px;
  position: absolute;
  right: 13%;
  bottom: 68%;
}

.social-logos {
  padding: 2.5px;
}


@media only screen and (max-width: 875px) {
  .column {
    margin: 0;
    padding: 0;
  }

  .article-container {
    flex-direction: column;
    min-width: 400px;
  }

  .image-column {
    height: 300px;
    flex-basis: auto;
  }

  .image-column img {
    height: 100%;
    width: 100%;
  }

  .text-column {
    height: 100%;
    width: 100%;
    padding: 0 1em;
  }

  .text-column h1 {
    padding-top: 0;
    margin-top: 0;
  }

  .text-column footer {
    padding-bottom: 1em;
    flex-direction: row;
  }
}
